body{
    background: #fafafa;
    color: #212328;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}
a {color: #fff;}
.page-process a, 
.page-process a:hover,
.page-process a:active{color: #212328;}

p {margin: 0 0 1.5em 0;}
.hero p{
    color: #fafafa;
}
.btn {
    border-radius: 100em;
    padding: 1em 3em;
    font-weight: bold;
    background: transparent;
    color: #fff;
}
.btn-dark {
    color: #000;
}
blockquote {
    margin: 1em auto;
    padding: 2em;
    background: #E7EEF2;
    border-radius: 20px;
    font-style: italic;
}
a:hover, a:active, a:focus {color: #fff;}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 1em;
}
section.main {
    background:linear-gradient(135deg, #000000, #3b4446);
    min-height: 100vh;

}
.wrapper{
    width:90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.hero-img img {
    width: 100%;
}
h1 {
    margin: 1em 0;
    font-size: 3em;
    font-weight: 800;
    color: #45bbcf;
}
h2 {
    margin: 1em 0 0;
    font-weight: 300;
}

h3 {
    color: #999;
    font-size: 2em;
    margin: 0 0 1rem 0;
}

h5 {
    color: #00BCD4;
    font-size: 1em;
    border-bottom: 1px solid #00BCD4;
    padding: 1rem 0;
    margin: 0 0 1em 0!important;
}
section.portfolio img{
    max-width: 1200px;
    width: 90%;
    margin: 2em auto;
    display: block;
}
.wrap {
    text-align: center;
}
p.view-button {
    text-align: center;
}

#portfolio-ila {background: linear-gradient(260deg, #021852, #010c31); color: #fff;}
#portfolio-fuzzie {background: #e83d3e; color: #fff;}
#portfolio-numberf {background: #e5e6ea; color: #555;}
#portfolio-icici {background: #A8262C; color: #fff;}
#portfolio-rimisen {background: #000; color: #fff;}
footer{
    background: #212328;
    padding: 4em 0;
    color: #fafafa;
    font-size: .8em;
}